.contato-container {
  padding: 3.125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contato {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contato h1 {
  font-size: 2.3em;
  margin-bottom: 1.25rem;
  cursor: default;
}

.contato input {
  border: none;
  border-radius: 0.3125rem;
  padding: 0.3125rem;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 0.3125rem;
  background: var(--cor3);
  width: 17.1875rem;
}

.contato button {
  background: var(--cor2);
  color: var(--cor0);
  border: none;
  width: 17.1875rem;
  font-size: 1.5em;
  padding: 0.3125rem 0.625rem;
  border-radius: 0.3125rem;
  cursor: pointer;
}

/* Mobile */

@media (max-width: 720px) {
  
  .contato-container {
    text-align: center;
  }

}

@media (max-width: 300px) {
  .contato-container {
    font-size: .8em;
  }
}