.inicio-container {
  padding: 3.125rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.inicio-container img {
  max-width: 100%;
  width: 31.25rem;
  height: auto;
}

.inicio-text {
  padding: 0.625rem;
  cursor: default;
}

.inicio-text h2 {
  font-size: 2.5em;
}

.inicio-text h1 {
  font-size: 3.5em;
}

.inicio-text button {
  background: var(--cor2);
  padding: 0.625rem 1.25rem;
  font-size: 1.7em;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
}

.inicio-text button a {
  text-decoration: none;
  color: var(--cor0);
}

/* Mobile */

@media (max-width: 720px) {

  .inicio-container  {
    margin-top: 1.5625rem;
  }

  .inicio-container img {
    margin-bottom: 0.625rem;
  }

  .inicio-text h2 {
    font-size: 1.5em;
  }

  .inicio-text h1 {
    font-size: 1.5em;
    margin-bottom: 0.3125rem;
  }

  .inicio-text button {
    font-size: 1.4em;
  }
  
}

@media (max-width: 300px) {
  .inicio-container {
    font-size: .6em;
    text-align: center;
  }
}