.nav-container {
  display: flex;
  flex-wrap: wrap;
  border-bottom: .5px solid var(--cor4);
  background: var(--cor0);
}

.nav-container h1 {
  margin: 0 auto;
  font-size: 3.5em;
  color: var(--cor2);
  cursor: default;
}

.nav-container span {
  color: var(--cor4);
}

.ul-cont {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.ul-cont li {
  font-size: 1.5em;
  list-style: none;
  margin: 0px 20px 0px 0px;
}

.ul-cont li a {
  text-decoration: none;
  color: var(--cor4);
}

.ul-cont button {
  color: var(--cor0);
  background: var(--cor2);
  font-size: 1.1em;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* Mobile */

@media (max-width: 720px) {

  .nav-container h1 {
    margin-top: 5px;
  }

  .ul-cont li {
    margin: 5px 5px 10px 5px;
    font-size: 1.3em;
    font-weight: bold;
  }
  
}

@media (max-width: 300px) {

  .ul-cont {
    font-size: .9em;
  }

  [data-dropdown] .dropdown-menu {
    font-size: 1.2em;
    width: 160px;
  }
}