form {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: var(--cor0);
  background: url(../img/chris-ried-LfG7RwMM6g8-unsplash.jpg) center center/cover;
  background-color: var(--cor5);
  background-blend-mode: color;
}

.todosForm {
  background-color: var(--cor6);
  padding: 2em;
  width: 750px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todosForm p {
  font-size: 2.5em;
  color: var(--cor0);
  margin-bottom: 1.1em;
}

.formulario input, select {
  display: flex;
  outline: none;
  width: 300px;
  height: 35px;
  text-align: center;
  font-size: 1.0em;
  font-weight: bold;
  margin: 5px 0px;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.formulario label {
  color: var(--cor0);
  font-size: 1.5em;
}


.btn {
  margin-top: 1.0em;
  text-transform: uppercase;
  width: auto;
  height: auto;
  text-align: center;
  font-size: 1.0em;
  letter-spacing: .1em;
  padding: 10px;
  border: 2px solid var(--cor0);
  border-radius: 5px;
  cursor: pointer;
  color: var(--cor0);
  background: var(--cor2);
}

.btn:hover {
  color: var(--cor2);
  background: var(--cor0);
  border: 2px solid var(--cor2);
  font-weight: bold;
}

/* Mobile */

@media (max-width: 720px) {

  .todosForm {
    width: 365px;
  }

  .todosForm p {
    font-size: 1.5em;
  }

  .formulario label {
    font-size: 1.4em;
  }

  .btn {
    font-size: .9em;
  }

}

@media (max-width: 360px) {

  .todosForm {
    width: 275px;
  }

  .todosForm p {
    font-size: 1.4em;
  }

  .formulario input, select {
    width: 265px;
  }

  .formulario label {
    font-size: 1.2em;
  }

  .btn {
    font-size: .8em;
  }

}